  /* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; background-image: url(/img/bg.jpg); }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: Felipe Lima
   ========================================================================== */
body {
  font-family: Menlo, Monaco, Consolas, Courier New;
  font-size: 14px;
  color: white;
}
body a { color: #6d9cbe; }
body a:visited { color: #29576a; }
h1, h2, h3, h4, .given-name { color: #c44436; font-size: 1em; line-height: 60px;}

h1, h2, h3, h4, p, ul, ol { margin: 0;}

.container {
  position: absolute;
  height: 90%;
  width: 80%;
  box-shadow: 0 20px 70px #000;
  -moz-box-shadow: 0 20px 70px #000;
  border-radius: 5px;
  -moz-border-radius: 5px;
}
.container .window-header {
  border-top: 1px solid #a0a0a0;
  border-left: 1px solid #a0a0a0;
  border-right: 1px solid #a0a0a0;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
}
.vim {
  background-color: #232323;
}
.vim .window-header {
  height: 44px;
  background:
    url(../img/top-left.png) top left no-repeat,
    url(../img/top-right.png) top right no-repeat,
    url(../img/header.png) repeat-x;
}
.chrome {
  background-color: white;
}
.chrome .window-header {
  border-bottom: 1px solid #888;
  height: 71px;
  background:
    url(../img/chrome-top-left.png) top left no-repeat,
    url(../img/chrome-top-right.png) top right no-repeat,
    url(../img/chrome-header.png) repeat-x; 
}
.chrome .window-header .filename {
  height: 33px;
  position: absolute;
  width: 100%;
  color: black;
  font-size: 11px;
  font-family: lucida grande;
  padding-top: 17px;
  padding-left: 100px;
}
.chrome .window-header .form-wrapper {
  margin-top: 45px;
  padding-left: 145px;
  padding-right: 40px;
}
.chrome .browser-content iframe {
  border: 0 none;
  height: 600px;
}
.chrome .window-header form {
  width: 100%;
}
.chrome .window-header form .search-box {
  border: 0 none;
  height: 16px;
  width: 100%;
  display: block;
  font-family: lucida grande, sans-serif;
  font-size: 13px;
  outline: none;
}
#wrapper {
  overflow: auto;
  position: absolute;
  top: 45px;
  bottom: 40px;
  border-left: 1px solid #525252;
  border-right: 1px solid #525252;
  background-color: #232323;
}
#content {font-size: 14px; line-height: 20px;  }
footer { position: absolute; bottom: 20px; left: 2px; right: 1px; }
.vim .filename { cursor: default; text-align: center; color: #303030; text-shadow: 0 1px 1px white; font-family:Lucida Grande, Lucida Sans Unicode, sans; font-size: 13px; position: relative; top: 3px;}
.tab { border-right: 1px solid #686868; width: 133px; height: 22px; cursor: default; color: #303030; text-shadow: 0 1px 1px #DDD; font-family: Lucida Grande, Lucida Sans Unicode, sans; font-size: 11px; float: left; margin-top: 6px; font-weight: bold; text-align: center; line-height: 20px; position: relative; }
.tab img { position: absolute; top: 4px; left: 6px;}
.tab:first-child { margin-left: 12px; text-indent: 15px;}
.tab.active { background: url(../img/tab.png) no-repeat; border-right: 1px solid transparent; line-height: 18px;}
.tab.active-prev { border-right:0 none;}
.new-file { margin-top: 11px; margin-left: 3px;}
address { font-style: normal;}
#resume, #projects, #blog { padding: 0 20px 0 55px; }
.given-name { display: block; font-weight: bold; }
.family-name { display: none; }
.adr { display: block; }
.avatar { float: right; width: 120px; border: 5px solid #444; margin: 10px 0 30px 20px;}
.line-numbers { font-family: Monaco, Consolas, 'Courier New'; background-color: #b9b9f5; color: #2b2b2b; position: absolute; left: 1px; width: 20px; height: 1020px; padding: 0 5px; text-align: center; font-size: 14px; line-height: 20px;overflow: hidden; }
.statusbar { background-color: #ddd9d4; color: #232323;font-family: Menlo, Monaco, Consolas, Courier New; font-size: 12px; padding: 3px 1px; font-weight: bold;}
.summary, .contact-info { padding-left: 10px; }
#projects, #blog { display: none;}
.command-input{ position: absolute; bottom: 2px; background-color: transparent; border: 0 none; width: 600px; color: white; font-family: Menlo, Monaco, Consolas, Courier New; outline: none; padding: 0 6px;}

/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
