.container.chrome
	.window-header
		.filename
			.tab-name Projects
		.form-wrapper
			form(action='', method='post')
				input.search-box(type='text', name='address', value='felipecsl.com/projects')
	.browser-content
		iframe(src='/projects', width='100%')