.container.vim
  .window-header
    .filename resume.html + (~/Projects/felipecsl.com) - VIM
    .tabs
      .tab.active
        img(src='img/close.png')
        span resume.html
      //
        .tab
          img(src='img/close.png')
          span projects.html
        .tab
          img(src='img/close.png')
          span blog.html
        img(src='img/new.png', class='new-file')
  #wrapper
    #content
      .line-numbers
        - for(var i = 0; i < 51; i++) {
          = i
          | 
        - }
      #projects
        h2 Projects
      #blog
        h2 Blog
      #resume
        header
          img.avatar(src='img/felipecsl.jpeg', alt='Avatar', title='Avatar')
          address.vcard
            span#felipe-name.fn.n
              span.given-name Felipe Lima
              span.family-name Felipe Correa de Souza Lima
            p.contact-info
              span.adr
                span.hidden.street-address 1188 Filbert St. #5
                span.hidden.locality San Francisco
                span.hidden.region CA
                span.hidden.postal-code 94123
              span
                | Email:
                a.email(href='mailto:felipe.lima@gmail.com') felipe.lima@gmail.com
              br
              span
                | Homepage:
                a.url(href='http://felipecsl.com/') felipecsl.com
              br
              h2 Online Presence
              ul
                li
                  a.url(href='http://github.com/felipecsl') GitHub
                li
                  a.url(href='http://blog.felipel.com') Blog
                li
                  a.url(href='http://twitter.com/felipecsl') Twitter
                li
                  a.url(href='https://www.facebook.com/felipecsl') Facebook
                li
                  a.url(href='http://www.linkedin.com/in/felipecsl') LinkedIn
              span
                span.hidden.tel +1 (415) 815-7116
        #main.hresume(role='main')
          h2 Summary
          p.summary
            | Passionate professional who loves technology and loves even more to create stuff
            | that is actually useful to people.
            | Has a strong entrepreneurial mindset which means never tired of trying new
            | possibilities and new ways of thinking/solving problems.
            | Very objective driven and self motivated, avoids waste (lean thinking).
            | Big fan and adopter of agile culture/methodologies. Likes to do pair programming,
            | share knowledge and learn to do something new every day.
          h2 Education
          ol.vcalendar
            li.education.vevent
              a.url.summary(href='http://pucrs.br/') PUCRS
              |  - BS Computer Science
              | (
              abbr.dtstart(title='2002-01-01') 2002 
              | -
              abbr.dtend(title='2008-08-15') 2008
              |  )
          h2 Work Experience
          ol.vcalendar
            li.experience.vevent
              span.summary Senior Software Engineer
              | ,
              span.location Gogobot
              | ,
              abbr.dtstart(title='2012-01-01') Dec 2011 
              | -
              abbr(title='2011-01-01') present
            li.experience.vevent
              span.summary Senior Development Consultant
              | ,
              span.location ThoughtWorks Brazil
              | ,
              abbr.dtstart(title='2011-01-01') Jan 2011 
              | -
              abbr(title='2011-12-01') Dec 2011
            li.experience.vevent
              span.summary Co-founder and Project Manager
              | ,
              span.location Quavio
              | ,
              abbr.dtstart(title='2009-10-01') Sept 2009 
              | -
              abbr(title='2010-12-31') Dec 2010
            li.experience.vevent
              span.summary Software Designer
              | ,
              span.location HP Brazil R&amp;D
              | ,
              abbr.dtstart(title='2003-08-01') Aug 2003  
              | -
              abbr(title='2009-08-25') Aug 2009
            li.experience.vevent
              span.summary Software Tester and Developer Intern
              | ,
              span.location CPTS
              | ,
              abbr.dtstart(title='2002-08-01') Aug 2002 
              | -
              abbr(title='2003-08-01') Aug 2003
          h2 Main Skills
          ul.skills
            li
              a.skill(rel='tag', href='http://en.wikipedia.org/wiki/C_Sharp_(programming_language)') C#
            li
              a.skill(rel='tag', href='http://www.ruby-lang.org/en/') Ruby
            li
              a.skill(rel='tag', href='http://www.rubyonrails.org') Rails
            li
              a.skill(rel='tag', href='http://www.sinatrarb.com') Sinatra
            li
              a.skill(rel='tag', href='http://en.wikipedia.org/wiki/JavaScript') JavaScript
            li
              a.skill(rel='tag', href='http://www.mysql.com/') MySql
            li
              a.skill(rel='tag', href='http://www.asp.net/mvc') ASP.NET MVC
            li
              a.skill(rel='tag', href='http://www.microsoft.com/sqlserver/en/us/default.aspx') SQL Server
            li
              a.skill(rel='tag', href='http://git-scm.com/') Git
          h2 Certifications
          ol
            li MSTS SQL Server 2005 - Implementation and Maintenance
            li MSTS .NET Framework 3.5, ASP.NET Applications
            li MSTS .NET Framework 2.0, Windows Applications
    //! end of #content
  //! end of #wrapper
  footer
    .statusbar resume.html[master][ruby-1.9.3-p0]
  input(type='text', class='command-input') /
  //! end of #container